.image {
  float: left;
  border-style: groove;
  border-width: 3px;
  padding: auto;
  margin: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
